*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 600px;
    margin: 0 auto;
    border: 4px solid #3a3a3a;
    border-radius: 20px;
    overflow: hidden;
}
img{
    max-width: 600px;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b6b6b6;
    padding: 10px;
}
main{
    padding: 30px 0;
}
.logo{
    width: 150px;
}
.profile{
    height: 50px;
    border-radius: 50%;
}

.uplouder-info {
    display: flex;
    padding-left: 10px;
}
.uplouder-info h1{
    font-size: 1.25rem;
    padding-left: 10px;
}
.uplouder-info p{
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 5px;
}

.post{
    padding: 20px 0;
}

.interaction {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.interaction img{
    height: 35px;
    padding-right: 10px;
}
.interaction .bold-text{
    font-weight: bold;
}
.interaction .likes{
    padding-top: 10px;
}
.interaction .comment-section{
    display: flex;
    padding-top: 10px;
}
.interaction .comment{
    padding-left: 2px;
}